*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif;
}
.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background:linear-gradient(250deg,mintcream, rgb(98, 95, 95));
  font-family: Arial, Helvetica, sans-serif;
  
 
}
