.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: #21325e;
  /* position: sticky; */
  height: 100px;

}

.footer p {
  color: white;
  font-size: 15px;
}
.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialMedia svg {
  color: white;
  margin-left: 20px;
  font-size: 40px;
  cursor: pointer;
}


@media screen and (max-width: 768px) {
  .footer {
    width: 100vw;
    position: sticky;
    bottom: 0px;
    /* height: 100px; */
  }
  .socialMedia svg {
    color: white;
    /* margin-bottom: 20px; */
    font-size: 30px;
    cursor: pointer;
    margin-top: 6px;
  }
}
