.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #21325e;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100px;
}

.footer p {
  color: white;
  font-size: 15px;
}
.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialMedia svg {
  color: white;
  margin-left: 20px;
  font-size: 40px;
  cursor: pointer;
}
.paragraph {
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
  .footer {
    width: 100%;
    position: sticky;
    bottom: 0px;
  }
  .socialMedia svg {
    color: white;
    font-size: 30px;
    cursor: pointer;
  }
}
